@page "/"
@inherits BaseDrawChart
@using Plotly.Blazor.Traces
@using Plotly.Blazor.LayoutLib
@using dashboard.Data
@using Plotly.Blazor.Traces.ScatterGlLib
@inject TemperatureSensorDataService sensorService

<div style="height:1000px;"><PlotlyChart @ref="chart" /></div>


@code {
    private PlotlyChart ?chart;

    protected override async Task OnInitializedAsync() {
        sensorData = await sensorService.GetAllRecordsInMonthAsync();
        await base.OnInitializedAsync();
        if (chart != null && traces != null) {
            // The below warning is nonsense.
            // CS4014: I cannot await chart.Update() because we are statically rendering, in practise this doesn't matter. The
            // chart will be updated when the user interacts with it.
            #pragma warning disable CS4014, BL0005
            chart.Layout = new Layout() {
                Title = new Title() { Text = $"Temperature Sensor Data for {DateTime.Now.ToString("MMMM")}" }
            };
            chart.Data = traces.Cast<ITrace>().ToList();
            chart.Update();
        }
    }
}