<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Temperature Data</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> This month temps (Graph)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="thismonth-humidity">
                <span class="oi oi-plus" aria-hidden="true"></span> This month humidity (Graph)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="thisyear-temperature">
                <span class="oi oi-plus" aria-hidden="true"></span> This year temps (Graph)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="thisyear-humidity">
                <span class="oi oi-plus" aria-hidden="true"></span> This year humidity (Graph)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lastsevendays-temperature">
                <span class="oi oi-plus" aria-hidden="true"></span> Last 7 days temps (Graph)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lastsevendays-humidity">
                <span class="oi oi-plus" aria-hidden="true"></span> Last 7 days humidity (Graph)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="daterange-temperature">
                <span class="oi oi-plus" aria-hidden="true"></span> Date range temps (Graph)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="daterange-humidity">
                <span class="oi oi-plus" aria-hidden="true"></span> Date range humidity (Graph)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="thismonthtable-temperature">
                <span class="oi oi-plus" aria-hidden="true"></span> This month temps (Table)
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
